.project {
  width: 100%;
  padding: 2rem 10rem;
  font-size: 2rem;

  &-title {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  &-content {
    height: 4rem;
    padding-left: 1rem;
  }
}
